@import url('https://fonts.googleapis.com/css?family=Baloo+2');

* {

  font-family: 'Baloo 2', cursive;
  color: #2078DF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

body > * {
  margin-bottom: 2rem;
}

main {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  width: 75vmin;
  height: 75vmin;
  background-color: #2078DF;
}

.cell {
  text-align: center;
  font-size: 3rem;
  display: grid;
  place-items: center;
  background-color: #2078DF;
}

.cell:not(.apple) {
  border: 0.5px solid #65A2E9;
}

.cell.snake {
  background-color: #78DF20;
}

.cell.apple {
  background-color: #DF2078;
  border-radius: 50%;
  transform: scale(.8, .8);
}

.game-over {
  color: #2078DF;
  background-color: #aeec79;
  border-radius: 0.2rem;
  padding: .5rem;
}

button {
  border-radius: .2rem;
}

/* 
blue #2078DF
  light blue #65A2E9
pink #DF2078
  light pink #E96BA5
green #78DF20
  light green #aeec79
*/